<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <title>Gpx Maps</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <body class="p-3 m-0 border-0 bd-example">

    <!-- Example Code -->
    
    <div class="dropdown" method='post'>
      <form action='http://127.0.0.1:5000/fahrt' method='post'>
        Fahrer<select name="fahrer" width="300px">
          {% for o in fahrerList %}
          <option value="{{o}}">{{o}}</option>
          {% endfor %}
        </select>
  
        Fahrzeug<select name="fahrzeug" width="300px">
          {% for o in fahrzeugList %}
            {% for x in o %}
            <option value="{{x}}">{{x[1]}}</option>
            {% endfor %}      
          {% endfor %}
        </select> &nbsp;
  
        Anfang<input type="date" id="datum_von" name="datum_von" class="form-control" 
          format="dd/mm/yyyy" placeholder="YYYY-MM-DD" style="width:10%; display:inline;">
  
        Ende<input type="date" id="datum_bis" name="datum_bis" class="form-control" 
          format="dd/mm/yyyy" placeholder="YYYY-MM-DD" style="width:10%; display:inline;">
    
        <input type='submit' value='Fahrten anzeigen' class="button">
      </form>
    </div>
    
    <!-- End Example Code -->
  </body>
</html>